<body>


    <div id="socials">
        <img width="100px" src="images/picture_fleur.png" alt=" socials image">
    </div>
    <div id="iuk_image">
        <img width="130px" src="images/iukokomo.png" alt="iu Image">
    </div>
</body>